<html>
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs')%>

        <div class="about content">
            <h2>About Us </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi enim vel hic! Laboriosam recusandae aliquam aspernatur exercitationem ut veritatis a consectetur. Ducimus, eius sapiente! Itaque eum dolorum cum alias repellendus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi enim vel hic! Laboriosam recusandae aliquam aspernatur exercitationem ut veritatis a consectetur. Ducimus, eius sapiente! Itaque eum dolorum cum alias repellendus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi enim vel hic! Laboriosam recusandae aliquam aspernatur exercitationem ut veritatis a consectetur. Ducimus, eius sapiente! Itaque eum dolorum cum alias repellendus.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>